.mainRow{
    // height: 500px;
    // width: 300px;
    margin: 4rem 2rem;
  
    img{
      width: 325px;
      display: block;
      margin: auto;
      height: 325px;
    }
  }
  
  .author{
  font-family: 'League Spartan', sans-serif;
  padding-top: 2rem;
  
  }
  
  .quote{
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  }
  
  .words{
    
    margin: 4rem 2rem;
  }
  
  .card{
    max-width: 850px;
    margin: auto;
  }
  
  .icon{
    float: right;
  }
  
  