.mainRow{
  // height: 500px;
  // width: 300px;
  margin: 4rem 2rem;

  img{
    width: 300px;
    display: block;
    margin: auto;
  }
}

.author{
font-family: 'League Spartan', sans-serif;
padding-top: 2rem;

}

.quote{
font-family: 'Roboto Slab', serif;
font-size: 1.5rem;
}

.words{
  
  margin: 4rem 2rem;
}

.card{
  max-width: 800px;
  margin: auto;
}

.icon{
  float: right;
}

