<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active " data-mdb-interval="2000">
      <img src="../../../assets/Mobiles Carousel (2).jpg" class=" w-100 "  (click)="mobileCarousel()"  alt="Sunset Over the City"/>
    </div>
    <!-- Single item -->
    <div class="carousel-item" data-mdb-interval="2000">
      <img src="../../../assets/ACs (1).jpg"  class=" w-100 " (click)="electronicsCarousel()"  alt="Canyon at Nigh"/>
    </div>
    <!-- Single item -->
    <div class="carousel-item " data-mdb-interval="2000">
      <img src="../../../assets/Footwear (1).jpg" class=" w-100 " (click)="footwearCarousel()"  alt="Cliff Above a Stormy Sea"/>
    </div>
<!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





