<!-- Horizontal Card -->
<div *ngIf="ordersData.length>0">
    <div class="card mt-5 mb-2 mx-auto" *ngFor="let order of ordersData; let i = index">
        <div class="row g-0">
            <div class="col-md-4 p-3">
                <img [src]="order.image" alt="Product image" class="img-fluid rounded-start h-100 img" />
            </div>
            <div class="col-md-4">
                <div class="card-body media">
                    <h5 class="card-title" style="font-size: 18px; font-weight: bolder;">{{order.productName}}</h5>
                    <h5 class="card-title mt-3" style="font-size: 14px;">Order Id: {{order._id}}</h5>
                    <h5 class="card-title mt-3" style="font-size: 14px;">Category: {{order.category}}</h5>
                    <h5 class="card-title mt-3" style="font-size: 14px;">Description: {{order.description}}</h5>
                    <h5 class="card-title mt-3" style="font-size: 14px;">Price: {{order.price | currency:'INR'}}</h5>
                    <button type="button" class="btn btn-success mt-5" data-mdb-ripple-color="dark"
                        *ngIf="order.status=='Pending'" (click)="processOrder(i)">Process</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title mt-2 statushead ">Order Status: <span style="font-weight: bold;">
                            {{order.status}} <i class="fa-regular fa-hourglass"
                                *ngIf="order.status=='Pending'"></i></span></h5>
                    <h5 class="card-title mt-3 status">Mode of Payment : <span style="font-weight: bold;"> Cash on
                            Delivery
                        </span>
                    </h5>
                    <hr>
                    <h5 class="card-title mt-3" style="font-size: 14px;">Username: {{order.user.username}}</h5>
                    <h5 class="card-title mt-3" style="font-size: 14px;">Address: {{order.user.address}}</h5>
                    <h5 class="card-title mt-3" style="font-size: 14px;">Email: {{order.user.email}}</h5>
                    <h5 class="card-title mt-3" style="font-size: 14px;">Phone: {{order.user.phone}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- no orders made -->
<div class="container mt-5" *ngIf="ordersData.length==0">
    <img class="mx-auto w-25 d-block mt-5" src="../../../assets/undraw_no_data_re_kwbl.svg" alt="Empty Cart">
    <h4 class="text-center mt-5" style="font-weight: bolder; font-size: 19px;">Sorry! We could not find any orders!
    </h4>
</div>