<div class="container">
    <p class="fw-bold text-center text-danger" *ngIf="registeerError.error">
        {{registeerError.errormessage}}
    </p>
    <form [formGroup]="changePasswordForm" class="mx-auto bg-light text-black p-3 forms mt-5 mb-5 form-group">
        <div class="form-floating mb-3">
            <input type="password" formControlName="oldPassword" class="form-control form-control-lg" placeholder="Old Password" required>
            <label for="old">Old Password</label>
            <div  *ngIf="oldpassword.invalid && (oldpassword.dirty || oldpassword.touched)">
                <div *ngIf="oldpassword.errors?.['required']" class="text-danger text-start">
                    *old password is Requried
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="password" formControlName="newPassword" class="form-control form-control-lg" placeholder="New Password" required>
            <label for="new">New Password</label>
            <div  *ngIf="newpassword.invalid && (newpassword.dirty || newpassword.touched)">
                <div *ngIf="newpassword.errors?.['required']" class="text-danger text-start">
                    *new password is Requried
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="password" formControlName="confirmPassword" class="form-control form-control-lg" placeholder="Confirm Password" required>
            <label for="con">Confirm Password</label>
            <div  *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)">
                <div *ngIf="confirmpassword.errors?.['required']" class="text-danger text-start">
                    *confirm password is Requried
                </div>
            </div>
        </div>
        <button class="btn btn-success d-flex justify-content-center" type="button" (click)="formSubmit()">Change</button>
    
    </form>
    
</div>