.last{
    text-align-last: right;
}

.horizontalCard{
    margin: auto;
}

.productName{
    font-size: 22px; 
    font-weight: bolder;
}

.card-body h5{
    font-size: 16px;
}

.rhs{
    font-size: 12px;
}

.head{
    font-size: 14px;
}

.amount{
    color: green;
    font-size: 12px;
    font-weight: bold;
}

.card-body button{
    font-weight: bold;
    color: white;
    background-color: indigo;
}

.body{
    font-family: 'Poppins', sans-serif;
}

img{
    height: 250px;
    width: 250px;
    margin: auto;
    display: block;
}

.VerticalCard{
    padding-left: 25px;
}

span{
    font-weight: bold;
}
