.productPage{
    background-color: #EAEDED;
}

h3{
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
}

.categoryHeading{
    color: black;
}

.categoryHeading span{
    font-size: 4.2rem;
}

