<section class="content py-5">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4" #userSignupForm="ngForm" (ngSubmit)="userSignupProcess(userSignupForm.value)">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="text" id="name" class="form-control" name="username" placeholder="Name" ngModel  required #username="ngModel"/>
                                            <label class="form-label" for="name">Name</label>
                                            <small class="text-danger text-start" *ngIf="username.touched && !username.valid">*username is required</small>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="email" id="email" class="form-control" name="email" placeholder="Email" ngModel required #email="ngModel"/>
                                            <label class="form-label" for="email">Email</label>
                                            <small class="text-danger text-start" *ngIf="email.touched && !email.valid">*email is required</small>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fa-solid fa-phone fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="number" id="phone" class="form-control" name="phone" placeholder="Phone Number" ngModel required #phone="ngModel"/>
                                            <label class="form-label" for="phone">Phone Number</label>
                                            <small class="text-danger text-start" *ngIf="phone.touched && !phone.valid">*number is required</small>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fa-solid fa-address-card fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="text" id="address" class="form-control" name="address" placeholder="Address" ngModel required #address="ngModel"/>
                                            <label class="form-label" for="address">Address</label>
                                            <small class="text-danger text-start" *ngIf="address.touched && !address.valid">*address is required</small>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="password" id="password" class="form-control" name="password" placeholder="Password" ngModel required #password="ngModel"/>
                                            <label class="form-label" for="password">Password</label>
                                            <small class="text-danger text-start" *ngIf="password.touched && !password.valid">*password is required</small>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox" value=""
                                            id="agreement" name="agreement" ngModel/>
                                        <label class="form-check-label" for="agreement">
                                            I agree all statements in <a href="#">Terms of service</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!userSignupForm.valid">Register</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>