@import '~mdb-ui-kit/css/mdb.min.css';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Poppins&family=League+Spartan:wght@700&family=Roboto+Slab:wght@500&display=swap');



html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #EAEDED;
}